<% if params[:keywword].blank? && params[:category].present?%>
  <p class="mb-5">Searching All products</p>
<% else %>
  <p class="mb-5">Books found when searching for: <%= params[:keyword] %></p>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %></li>
  <% end %>
</ul>