<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h3 class="navbar-item"><%= link_to 'Home', root_path%></h3>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <h3 class="navbar-item"><%= link_to 'Manufacturers', manufacturers_path%></h3>
          <h3 class="navbar-item"><%= link_to 'Categories', categories_path%></h3>
          <hr class="navbar-divider">
          <h3 class="navbar-item"><%= link_to 'Products', products_path%></h3>
        </div>
      </div>
    </div>


  </div>
</nav>